<font style = 'color:green; font-size:30px; font-weight: bold'>Recommendation System</font>

<br>
<font color= 'red' style='font-size: 30px'>1.2 About Dataset</font>
<hr style = 'border: 1px solid red'>

### Description:
<p style='font-size: 18px; line-height: 2; margin: 10px 50px; text-align: justify;'>O objetivo deste projeto será estimar um modelo de <b>Machine Learning</b> em um <b>Sistema de recomendação</b> de livros. Assim recomendar livros de maneira coerente e satisfatória para os leitores de acordo com a avaliação deles. O Dataset foi dividido em 3 partes: Books.csv, Ratings.csv e Users.csv.</p>

### Data:
Books.csv
<ul style='font-size: 18px; line-height: 2; text-align: justify;'>
    <li><b>ISBN</b> - Código do livro</li>
    <li><b>Book-Title</b> - Nome do Livro</li>
    <li><b>Book-Author</b> - Autor do Livro</li>
    <li><b>Year-Of-Publication</b> - Ano de publicação</li>
    <li><b>Publisher</b> - Editora do livro</li>
    <li><b>Image-URL-S	</b> - Url Capa</li>
    <li><b>Image-URL-M	</b> - Url Capa</li>
    <li><b>Image-URL-L</b> - Url Capa</li>
</ul>

Ratings.csv
<ul style='font-size: 18px; line-height: 2; text-align: justify;'>
    <li><b>User-ID	</b> - ID da avaliação</li>
    <li><b>ISBN</b> - Código da avaliação)</li>
    <li><b>Book-Rating</b> - Avaliação do livro</li>
</ul>

Users.csv
<ul style='font-size: 18px; line-height: 2; text-align: justify;'>
    <li><b>User-ID	</b> - ID do usuário</li>
    <li><b>Location</b> - Localização do usuário</li>
    <li><b>Age</b> - Idade do usuário</li>
</ul>

<br>
<font color= 'red' style='font-size: 30px'>1.3 Importing libraries and Reading data</font>
<hr style = 'border: 1px solid red'>

In [1]:
# Manipulation
import pandas as pd
import numpy as np 

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Warnings
import warnings
warnings.filterwarnings('ignore')

# ------Settings
pd.set_option('display.max_columns', None)

plt.rcParams['figure.figsize'] = (15, 6)
plt.style.use('seaborn-darkgrid')

## Importing data

In [2]:
books_data = pd.read_csv('data/Books.csv')
ratings_data = pd.read_csv('data/Ratings.csv')
users_data = pd.read_csv('data/Users.csv')

print(books_data.shape)
print(ratings_data.shape)
print(users_data.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [3]:
books_data.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings_data.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
users_data.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

### Data Info

In [6]:
books_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [7]:
ratings_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [8]:
users_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

<br>
<font color= 'red' style='font-size: 30px'>1.4 Data modeling</font>
<hr style = 'border: 1px solid red'>

In [9]:
# Join books and ratings 
cross_tab = books_data.merge(ratings_data, how = 'inner', on = 'ISBN')

# Join with users
cross_tab = cross_tab.merge(users_data, how = 'inner', on = 'User-ID')

cross_tab.shape

(1031136, 12)

In [10]:
cross_tab.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,8,0,"timmins, ontario, canada",NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,8,0,"timmins, ontario, canada",NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,8,0,"timmins, ontario, canada",NaN

In [11]:
cross_tab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031136 entries, 0 to 1031135
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031136 non-null  object
 1   Book-Title           1031136 non-null  object
 2   Book-Author          1031135 non-null  object
 3   Year-Of-Publication  1031136 non-null  object
 4   Publisher            1031134 non-null  object
 5   Image-URL-S          1031136 non-null  object
 6   Image-URL-M          1031136 non-null  object
 7   Image-URL-L          1031132 non-null  object
 8   User-ID              1031136 non-null  int64
 9   Book-Rating          1031136 non-null  int64
 10  Location             1031136 non-null  object
 11  Age                  753301 non-null   float64
dtypes: float64(1), int64(2), object(9)
memory usage: 102.3+ MB

## Fitting columns 'Year-Of-Publication'

> Here, there are any data with string type

In [12]:
# Searching errors in column 'Year-Of-Publication'

'''
for row in cross_tab['Year-Of-Publication'].value_counts().index:
    print(row)
'''

"\nfor row in cross_tab['Year-Of-Publication'].value_counts().index:\n    print(row)\n"

In [13]:
# Fitting errors

cross_tab.iloc[287500,2] = 'Gallimard'
cross_tab.iloc[287500,3] = 2003

cross_tab.iloc[352361, 2 ] = 'DK Publishing Inc'
cross_tab.iloc[352361, 3 ] = 2000

cross_tab.iloc[467962] = 'DK Publishing Inc'
cross_tab.iloc[467962, 3 ] = 2000

cross_tab.iloc[469216] = 'DK Publishing Inc'
cross_tab.iloc[469216, 3 ] = 2000

In [14]:
cross_tab['Year-Of-Publication'] = pd.to_numeric(cross_tab['Year-Of-Publication'])

In [15]:
cross_tab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031136 entries, 0 to 1031135
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031136 non-null  object
 1   Book-Title           1031136 non-null  object
 2   Book-Author          1031135 non-null  object
 3   Year-Of-Publication  1031136 non-null  int64
 4   Publisher            1031134 non-null  object
 5   Image-URL-S          1031136 non-null  object
 6   Image-URL-M          1031136 non-null  object
 7   Image-URL-L          1031134 non-null  object
 8   User-ID              1031136 non-null  object
 9   Book-Rating          1031136 non-null  object
 10  Location             1031136 non-null  object
 11  Age                  753303 non-null   object
dtypes: int64(1), object(11)
memory usage: 102.3+ MB

## Fitting columns 'Location'

In [16]:
cross_tab['Location'].head()

0    stockton, california, usa
1     timmins, ontario, canada
2     timmins, ontario, canada
3     timmins, ontario, canada
4     timmins, ontario, canada
Name: Location, dtype: object

In [17]:
def extract_country(region):
    '''
         Function for extract country name in the column 'Location'
    '''
    locations = region
    record = locations.split()[-1].upper()
    return record

In [18]:
cross_tab['country'] = cross_tab['Location'].apply(extract_country)

In [19]:
cross_tab.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age,country
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0,USA
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN,CANADA
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,8,0,"timmins, ontario, canada",NaN,CANADA
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,8,0,"timmins, ontario, canada",NaN,CANADA
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,8,0,"timmins, ontario, canada",NaN,CANADA